atheris==3.0.0; platform_system == "Linux"
python-scalpel==1.0b0; platform_system == "Linux"
coverage==7.13.5
pytest-cov==7.1.0
pytest==9.0.2
hypothesis==6.151.10
jinja2==3.1.6
pytest-benchmark==3.0.0
