/**
 * Query: Does tainted input() reach '{{ function_name }}'?
 * @kind problem
 * @id python/taint-from-input
 */
import python
import semmle.python.dataflow.new.DataFlow
import semmle.python.dataflow.new.TaintTracking

class InputCallSource extends DataFlow::Node {
  InputCallSource() {
    exists(CallNode c |
      c.getFunction().(NameNode).getId() = "input" and
      this.asCfgNode() = c
    )
  }
}

class SafeIntSanitizer extends DataFlow::Node {
  SafeIntSanitizer() {
    exists(CallNode c |
      c.getFunction().(NameNode).getId() = "safe_int_input" and
      this.asCfgNode() = c
    )
  }
}

class TargetFunctionSink extends DataFlow::Node {
  TargetFunctionSink() {
    exists(CallNode c, int i |
      (
        c.getFunction().(NameNode).getId() = "{{ function_name }}"
        or
        c.getFunction().(AttrNode).getName() = "{{ function_name }}"
      ) and
      this.asCfgNode() = c.getArg(i)
    )
  }
}

module TaintFromInputConfig implements DataFlow::ConfigSig {
  predicate isSource(DataFlow::Node source) {
    source instanceof InputCallSource
  }

  predicate isSink(DataFlow::Node sink) {
    sink instanceof TargetFunctionSink
  }

  predicate isBarrier(DataFlow::Node node) {
    node instanceof SafeIntSanitizer
  }
}

module TaintFromInput = TaintTracking::Global<TaintFromInputConfig>;

from DataFlow::Node source, DataFlow::Node sink
where TaintFromInput::flow(source, sink)
select sink,
  "Tainted input() from " + source.getLocation().toString() +
  " reaches '{{ function_name }}'"
